# List comprehensions and readability
### More readable and sometimes faster as well.

In [5]:
# Example 2-1
symbols = '$¢£¥€¤'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))

codes

[36, 162, 163, 165, 8364, 164]

In [4]:
# Example 2-2
symbols = '$¢£¥€¤'
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 165, 8364, 164]

In [13]:
x = 'My Precious'
dummy = [x for x in x]
dummy

['M', 'y', ' ', 'P', 'r', 'e', 'c', 'i', 'o', 'u', 's']

# Listcomps versus map and filter

In [16]:
# Example 2-3
symbols = '$¢£¥€¤'
beyond_ascii = [ord(s) for s in symbols if ord(s)>127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [17]:
# Continued
beyond_ascii = list(filter(lambda c: c>127, map(ord, symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

# Cartesian products

In [18]:
# Example 2-4
colors = ['black', 'white']
sizes = ['S','M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [20]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for size in sizes for color in colors]
tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

# Generator Expressions

In [2]:
# Example 2-5
symbols = '$¢£¥€¤'

tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [14]:
import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [18]:
# Example 2-6
colors = ['black', 'white']
sizes = ['S','M', 'L']
for  tshirt in ([c, s] for c in colors for s in sizes ):
    print(tshirt)

['black', 'S']
['black', 'M']
['black', 'L']
['white', 'S']
['white', 'M']
['white', 'L']

# Tuples ars records

In [23]:
# Example 2-7
lax_coordinates = (33.94, -118.41)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'),  ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [24]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates  # tuple unpacking
latitude

33.9425

In [26]:
lax_coordinates[0], lax_coordinates[1] = lax_coordinates[1], lax_coordinates[0]

TypeError: 'tuple' object does not support item assignment

In [30]:
a = (2,4)
b = (3,6)

In [31]:
a, b = b, a

In [32]:
a

(3, 6)

In [35]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')

'/home/luciano/.ssh'

In [38]:
a, b, *rest = range(5)

In [41]:
rest

[2, 3, 4]

# Nested tuple unpacking

In [51]:
# Example 2-8
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)), 
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

print('{:15} | {:^9} | {:^9}'.format('', 'latitude', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:  
    if longitude <= 0:  # 3
        print(fmt.format(name, latitude, longitude))

                | latitude  |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

In [50]:
metro_areas[2][0][0]

'M'

# Namedtuples

In [55]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo=City('Tokyo', 'JP', 36.933, (35.689, 149.691))
tokyo[1]

'JP'

In [66]:
# Example 2-10 Named tuple attributes and methods
City._fields
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
type(delhi)

__main__.City

In [65]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [67]:
for key, value in delhi._asdict().items():
    print(key+':',value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)