# Chapter 8 : Object References, Mutability, and Recycling

## 8.1 Variables Are Not Boxes

Python variables are more like labels attached to objects

In [3]:
# Ex 8-1 : Variables a and b hold references to the same list, not copies of the list
a = [1,2,3]
b=a
a.append(4)
b

[1, 2, 3, 4]

In [1]:
# Ex 8-2 : Variables are assigned to objects only after the objects are created.

class Gizmo:
    def __init__(self):
        print('Gizmo id : %d' % id(self))

In [2]:
x = Gizmo()

Gizmo id : 4399413288

In [3]:
y = Gizmo()*10

Gizmo id : 4399413400

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [4]:
y

NameError: name 'y' is not defined

In [5]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [6]:
# Ex 8-3 : charles and lewis refere to the same object

charles = {'name': 'Charles L. Dodgson', 'born':1832}
lewis = charles

In [8]:
lewis = charles 
lewis is charles

True

In [9]:
id(charles)

4398832088

In [10]:
id(lewis)

4398832088

In [11]:
lewis['balance']=950

In [12]:
charles

{'balance': 950, 'born': 1832, 'name': 'Charles L. Dodgson'}

In [15]:
# Ex 8-4 : alex and charles compares equal, but alex is not charles.
alex = {'name':'Charles L. Dodgson', 'born':1832, 'balance':950}
alex == charles

True

In [16]:
alex is not charles

True

In [17]:
# Ex 8-5 : t1 and t2 initially compare equal, but changing a mutable item inside tuple t1 makes it different
t1 = (1, 2, [30,40])
t2 = (1, 2, [30,40])
t1 == t2

True

In [18]:
id(t1[-1])

4400004296

In [19]:
t1[-1].append(99)

In [20]:
t1

(1, 2, [30, 40, 99])

In [21]:
id(t1[-1])

4400004296

In [1]:
# Ex 8-6 Making a shallow copy of a list containing another list; copy and paste this code to see it animated at the Online Python Tutor
l1 = [3, [66,55,44], (7,8,9)]
l2 = list(l1)
l1.append(100)

In [2]:
l1

[3, [66, 55, 44], (7, 8, 9), 100]

In [3]:
l1[1].remove(55)

In [4]:
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [5]:
l2[1]+=[33,22]
l1[2]+=(10,11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9)]